.tile-ui-default {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tile-ui-clicked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8dfca;
  width: 100%;
  height: 100%;
  font-size: 1.9rem;
  color: #7895b2;
}

.tile-ui-mine {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.158);
  width: 100%;
  height: 100%;
}
